<template>
<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form @submit.prevent="connectWithMe()">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Let's connect</legend>
        <div class="uk-margin">
          <label class="uk-form-label">Your Name *</label>
          <input class="uk-input" type="text" required="required" placeholder="Your Name">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Your Email *</label>
          <input class="uk-input" type="email" required="required" placeholder="email@domain.com">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Your Company</label>
          <input class="uk-input" type="text" placeholder="Your Company">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Brief description of what is needed</label>
          <textarea class="uk-textarea" rows="5" placeholder="Brief description of what you need..."></textarea>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Project Duration </label>
          <input class="uk-input" type="text" placeholder="eg. 1 week or 1 month or 2 years">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">Your Budget (USD)</label>
          <input class="uk-input" type="number" >
        </div>
        <button class="uk-button uk-button-default" type="submit">Let's Connect</button>
      </fieldset>
    </form>
  </div>
</div>
</template>

<script>
export default {
  name: 'hire-me',
  data () {
    return {}
  },
  methods: {
    connectWithMe: function () {
    }
  }
}
</script>

<style scoped>

</style>
