<template>
<div class="">
  <about-me-small></about-me-small>
  <br>
  <skills></skills>
</div>
</template>

<script>
import AboutMeSmall from '../Components/AboutMeSmall'
import Skills from '../Components/Skills'

export default {
  components: {
    Skills,
    AboutMeSmall},
  name: 'index-page',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
