<template>
<project-lists></project-lists>
</template>

<script>
import ProjectLists from '../Components/ProjectLists'

export default {
  components: {ProjectLists},
  name: 'projects',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
