<template>
<div class="uk-container">
  <div class="uk-child-width-1-2@s" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-card-title">Services and tools</h3>
        <span style="padding: 2vh" v-for="(image, key) in projectPlatforms" :key="key">
          <img  :src="image.logo_url" alt="" width="10%">
        </span>
        <br>
        <br>
        <a class="uk-button uk-button-default" :href="singleProject.demo_url">Demo Live Page</a>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <h3 class="uk-card-title">{{singleProject.name}}</h3>
        <p>{{singleProject.details}}</p>
      </div>
    </div>
  </div>
  <div class="uk-h3">Other Images from the Project</div>
  <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
    <div v-for="(screenshot, key) in singleProject.other_images" :key="key">
      <a class="uk-inline" :href="screenshot.image" :caption="screenshot.caption">
        <img :src="screenshot.image" alt="">
      </a>
    </div>
  </div>

</div>
</template>

<script>
export default {
  name: 'single-project',
  data () {
    return {}
  },
  computed: {
    singleProject: function () {
      return this.$store.state.ProjectStore.all_projects[this.$route.params.project_id]
    },
    projectPlatforms: function () {
      var skills = this.$store.state.SkillStore.all_skills
      var platforms = this.singleProject.platforms
      var plafromsUsed = []
      for (var i = 0; i < platforms.length; i++) {
        plafromsUsed.push(skills[platforms[i]])
      }
      return plafromsUsed
    }
  }
}
</script>

<style scoped>

</style>
