<template>
  <div class="">
    <main-nav></main-nav>
    <br>
   <router-view/>
  </div>
</template>

<script>
import MainNav from './Basics/MainNav'
export default {
  components: {
    MainNav},
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
