<template>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><router-link :to="{name: 'IndexPage'}">Amutis.io</router-link></li>
        <li class="" v-for="(url, key) in urls2" :key="key">
          <router-link :to="{name: url.url_name}">{{url.title}}</router-link>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="" v-for="(url, key) in urls" :key="key">
          <router-link :to="{name: url.url_name}">{{url.title}}</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'main-nav',
  data () {
    return {
      urls2: [
        {
          title: 'Hire Me',
          url_name: 'HireMe'
        }
      ],
      urls: [
        {
          title: 'Home',
          url_name: 'IndexPage'
        },
        {
          title: 'Projects',
          url_name: 'Projects'
        }
        // {
        //   title: 'Play House',
        //   url_name: 'PlayHouse'
        // },
        // {
        //   title: 'Samples',
        //   url_name: 'Samples'
        // },
        // {
        //   title: 'Animations',
        //   url_name: 'Animations'
        // }
      ]
    }
  }
}
</script>

<style scoped>

</style>
