<template>
  <div class="uk-container">
    <div class="uk-card uk-card-default uk-card-small" >
      <div class="uk-text-left uk-card-body">
        <p>Hello there,</p>
        <p>Welcome to my small portfolio. <br>I like to think of this as an encouragement to upcoming front end developers and for my future clients, a showcase of what has been done.</p>
        <p>I know, I know... you want to see my best work. Yes?</p>
        <p>Sadly I don't have one at the moment for my best work is my next work. I like to push my limits and imagine beyond what I have done. This however doesn't throw away the fact that all my previous clients have been satisfied by my work.</p>
        <!--<p>I work remotely and deliver</p>-->
        <p>So why wait while we have a lot to show. Let's get on with it, right?</p>
        <span class="uk-animation-toggle">
          <router-link class="uk-button uk-button-small uk-button-default uk-animation-shake" :to="{name: 'HireMe'}">I'm Convinced, I have a job for you</router-link>
        </span>
        <span class="uk-animation-toggle">
          <router-link class="uk-button uk-button-small uk-button-primary uk-animation-slide-right-small" :to="{name: 'Projects'}">Let me check your profile first</router-link>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about-me-small',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
