<template>
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
      <div v-for="(project, key) in allProjects" :key="key">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
            <img :src="project.main_image" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
          </div>
          <div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">{{project.name}}</h3>
              <p>{{project.details}}</p>
            </div>
          </div>
          <div class="uk-button-group" style="padding: 2vh">
            <router-link :to="{name: 'SingleProject', params: {project_id: key}}" class="uk-button uk-button-default uk-button-small">View Details</router-link>
            <!--<router-link to="" class="uk-button uk-button-default uk-button-small">View Live</router-link>-->
            <!--<router-link to="" class="uk-button uk-button-default uk-button-small">Demo Link</router-link>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'project-lists',
  data () {
    return {
    }
  },
  computed: {
    allProjects: function () {
      return this.$store.state.ProjectStore.all_projects
    }
  }
}
</script>

<style scoped>

</style>
