<template>
 <div class="uk-container">
   <h3 class="uk-card-title uk-text-center">Languages tricks and platforms</h3>
   <div class="uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-1@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
     <div v-for="(skill, key) in allSkills" :key="key">
       <div class="uk-card uk-card-default uk-card-body">
         <img :src="skill.logo_url" alt="" width="100%">
         <h3 class="uk-card-title uk-text-center">{{skill.name}}</h3>
       </div>
     </div>
   </div>
 </div>
</template>

<script>
export default {
  name: 'skills',
  data () {
    return {
    }
  },
  computed: {
    allSkills: function () {
      return this.$store.state.SkillStore.all_skills
    }
  }
}
</script>

<style scoped>

</style>
